.themeContainer {
  width: 296px;
  box-sizing: border-box;
  .ant-tabs .ant-tabs-tab {
    padding-block: 8px;
    &.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #333;
    }
    &:hover {
      color: #333;
    }
  }
}