.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-list {
    flex: 1;
    display: flex;
  }
  &-play {
    flex: 2;
    // color: #ec4141;
  }
  &-setting {
    flex: 1;
  }
}
