.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;

  &-list {
    flex: 2;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    .img {
      width: 60px;
      height: 60px;
      border-radius: 10%;
      background: rgba(236, 65, 65, 0.9);
    }
    &-content {
      width: 320px;
      display: flex;
      flex-direction: column;

      &-title {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &-schedule {
        // display: flex;
      }
    }
  }
  &-play {
    flex: 1;
    display: flex;
    gap: 30px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    &-start {
      &:hover {
        background-position: -60px 0;
      }
    }
  }
  &-setting {
    flex: 2;
    display: flex;
    gap: 36px;
    font-size: 18px;
  }

  .custom-slider .ant-slider-dot {
    width: 100px;
    height: 100px;
  }
}
